body {
    margin: 0;
}

header, main, footer {
/* Centering main containers content with margin-left and right in auto*/
    margin: 0 auto;
}

header, footer {
    background-color:#3d8b9c;
    text-align: center;
}

header figure {
    margin:0;
}

.logo img {
    max-width: 250px;
}

header section {
    margin: 0 auto;
    max-width: 560px;
}

main {
    max-width: 1140px;
}

footer {
    padding: 1em 1.5em;
    color:#fff;
}

footer a {
    color: wheat;
    font-weight: bold;
    text-decoration: none;
}

#skills-content, experience-content, education-content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column-2{
    /* flex-grow | flex-shrink | flex-basis */
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.column-1{
    /* flex-grow | flex-shrink | flex-basis */
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}